{% extends "../base.html" %}
{% block title %}
  <title>{{ object.title }}</title>
{% endblock title %}
{% block content %}
  <div class="container mt-3">
    <h1>{{ object.title }}</h1>
    <p>{{ object.desc }}</p>
    <p>
      Статус: <span class="badge badge-primary">{{ object.status }}</span>
    </p>
    <p>
      Пріоритет: <span class="badge badge-secondary">{{ object.priority }}</span>
    </p>
    <p>Дедлайн: {{ object.due_to|date }}</p>
    <a href="{% url 'task_update' object.pk %}" class="btn btn-warning">Редагувати</a>  {% comment "" %}{% endcomment %}
    <a href="{% url 'task_delete' object.pk %}" class="btn btn-danger">Видалити</a> {% comment "" %}{% endcomment %}
  </div>
{% endblock content %}
